:root{
    --primary-color: darkslategray; 
    --secondary-color: rgb(255, 255, 255); 
    --secondary-primary-color: rgb(247, 148, 29); 
    --secondary-secondary-color: rgb(39, 169, 255);
    --extra-primary: rgba(114, 102, 88, 0.507);
    --extra-primary-secondary: rgb(239, 66, 54); 
    --extra-secondary-secondary: rgb(255, 220, 23); 
}
body{
    background-color: var(--secondary-color);
    font-family: 'M PLUS Rounded 1c', sans-serif;
} 
/* font-family: 'Press Start 2P', cursive; */
a {
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none !important; 
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}
.logoDiv h2{
    animation: pulse 5s ease-in-out infinite;
}
#keyboardA{
    animation: headbob 7s ease-in-out infinite;
}
#keyboardB{
    animation: headbob 8s ease-in-out infinite;
}
.startContainer{
    margin: 0;
    border: solid 2px grey;
    background-color: darkgray;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.container{
    display: none;
    margin: 0;
    border: solid 2px grey;
    background-color: darkgray;
    text-align: center;
    border-radius: 10px;
}
#ctx{
    border: 1px solid lightgray;
    background-color: black;
    margin-top: 30px; 
    border-radius: 10px;
    margin: 0; 
    width: 90%;
}
#ctx1{
    border: 1px solid lightgray;
    background-color: black;
    margin-top: 30px; 
    border-radius: 10px;
    margin: 0;  
    width: 90%;
}
.shield{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shieldBar{
    position: relative;
    width: 80%;
    bottom: 5px;
    height: 40px;
    border: solid;
}
.backupBar{
    position: relative;
    width: 80%;
    bottom: 5px; 
    height: 45px;
}
.hide{
    display: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.buttonText{
    font-size: 40px;
    color: wheat; 
}
.btn{
    padding: 7px;
    border: solid 4px rgb(168, 167, 167);
    border-radius: 70px;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonF{
    background-color: blue;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(91, 11, 11));
}
.buttonF:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonL{
    background-color: blue;
    background-image: linear-gradient(rgb(0, 110, 255), rgb(20, 32, 82));
}
.buttonL:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonR{
    background-color: blue;
    background-image: linear-gradient(rgb(0, 255, 34), rgb(28, 75, 18));
}
.buttonR:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonM{
    background-color: blue;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(88, 43, 0));
}
.buttonM:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonChaff{
    display: none;
    background-color: blue;
    background-image: linear-gradient(rgb(255, 251, 0), rgb(60, 59, 14));
}
.buttonChaff:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonHelp{
    background-color: blue;  
    background-image: linear-gradient(rgb(174, 0, 255), rgb(42, 1, 70));
}
.buttonHelp:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonDodge{
    display: none;
    background-color: blue;  
    background-image: linear-gradient(rgb(0, 136, 255), rgb(1, 61, 91));
}
.buttonDodge:active{
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonPower{
    background-image: linear-gradient(rgb(9, 255, 0), rgb(81, 255, 0));
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
    animation: blink 2s ease-in-out infinite;
}
.power{
    text-align: end;
}
.powerText{
    font-size: 14px;
    position: relative;
    top: 5px;
    right: 4px;
    color: rgb(92, 90, 90);
}
.areYouSure{
    padding: 20px 0; 
    font-size: 50px; 
    color: rgb(255, 255, 255);
    position: relative; 
    bottom: 20px;  
}
#hideA{
    display: none; 
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    translate: -50% -50%;   
    width: 80%;
}

/* .positionHeader{                                for header sticky nav bar CSS style 
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
} */    

.f5{
    background-color: transparent;
    text-align: center;
}
.footerText{
    color: var(--extra-primary);
}
.privacyText:hover{
    color: var(--primary-color)
}
.padding{
    padding: 20px;
    border-radius: 30px;
}

@keyframes blink {
    0%{
        background-image: linear-gradient(rgb(9, 255, 0), rgb(81, 255, 0));
    }
    100%{
        background-image: linear-gradient(rgb(11, 223, 4), rgb(62, 191, 3));
    }
}
@keyframes headbob {
    0%{
        rotate: -50deg;
    }
    50%{
        rotate: 50deg;
    }
    100%{
        rotate: -50deg;
    }
}
@keyframes pulse {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

@media screen and (min-width: 500px) {
    #ctx{
        width: 400px;
    }
    #ctx1{ 
        width: 400px;
    }
    .shield{
        width: 400px; 
        display: flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .power{
        width: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 1000px) {
    .logoDiv{
        display: none;
    }
}