:root{
    --primary-color: darkslategray; 
    --secondary-color: rgb(255, 255, 255); 
    --secondary-primary-color: rgb(247, 148, 29); 
    --secondary-secondary-color: rgb(39, 169, 255);
    --extra-primary: rgba(114, 102, 88, 0.507);
    --extra-primary-secondary: rgb(239, 66, 54); 
    --extra-secondary-secondary: rgb(255, 220, 23); 
}
body{
    background-color: var(--secondary-color);
    touch-action: pan-y;
} 
.startContainer{
    display: block;
    margin: 0;
    border: solid 2px grey;
    background-color: darkgray;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.container{
    display: none;
    margin: 0;
    border: solid 2px grey;
    background-color: darkgray;
    text-align: center;
    border-radius: 10px;
}
#ctx{
    border: 1px solid lightgray;
    background-color: black;
    margin-top: 30px; 
    border-radius: 10px;
    margin: 0; 
    width: 80%;
}
#ctx1{
    border: 1px solid lightgray;
    background-color: black;
    margin-top: 30px; 
    border-radius: 10px;
    margin: 0;  
    width: 80%;
}
.shieldBar{
    position: relative;
    width: 800px;
    bottom: 5px;
    height: 40px;
}
.backupBar{
    position: relative;
    width: 800px;
    bottom: 5px; 
    height: 45px;
}
.boom{
    height: 20px;
    width: 20px;
}
.fireball{
    height: 10px;
    width: 10px;
}
.hide{
    display: none;
}
.canvasBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 40px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.buttonText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: wheat; 
}
.ship{
    position: relative;
    z-index: 3;
}
.startHeader{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttonF{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(91, 11, 11));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonF:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonL{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(0, 110, 255), rgb(20, 32, 82));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonL:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonR{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(0, 255, 34), rgb(28, 75, 18));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonR:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonM{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(255, 123, 0), rgb(88, 43, 0));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonM:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonChaff{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(255, 251, 0), rgb(60, 59, 14));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonChaff:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonHelp{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;  
    background-image: linear-gradient(rgb(174, 0, 255), rgb(42, 1, 70));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonHelp:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonDodge{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;  
    background-image: linear-gradient(rgb(0, 136, 255), rgb(1, 61, 91));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.buttonDodge:active{
    position: relative;
    box-shadow: 3px 3px 4px 3px black inset;
    color: transparent;
}
.buttonPower{
    position: relative;
    border-radius: 70px;
    border: solid 4px rgb(168, 167, 167);
    background-color: blue;
    background-image: linear-gradient(rgb(9, 255, 0), rgb(81, 255, 0));
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(226, 222, 222);
    font-weight: bold;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px black inset, -1px -1px 2px 1px black inset;
}
.power{
    text-align: end;
    margin: 10px 40px 0 0; 
}
.powerText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    position: relative;
    top: 5px;
    color: rgb(92, 90, 90);
}
.areYouSure{
    padding: 20px 0; 
    font-size: 50px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    position: relative; 
    bottom: 20px;  
}
#hideA{
    display: none; 
    text-align: center;
    position: absolute; 
    bottom: 50%;
    left: 50%;
    translate: -50% -50%; 
}
.positionHeader{                                /*for header sticky nav bar CSS style*/
    display: grid;
    grid-template-areas: 
    "pos1 pos1 pos1 pos1 pos2"
    "pos3 pos3 pos3 pos3 pos3";
    align-items: center;
    position: sticky; 
    position: -webkit-sticky;
    right: 0; 
    left: 0;
    top: 0;
    z-index: 2; 
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.posHeaderImg{
    width: 70%; 
    cursor: pointer; 
    margin-bottom: 10px;
} 
.posThreeLines{
    width: 40%;
    height: 40%;
    cursor: pointer;
} 
.pos1{
    grid-area: pos1; 
    padding: 20px 0 10px 40px;
    text-align: start;
} 
.pos2{
    grid-area: pos2; 
    text-align: end;
    padding-right: 40px;
} 
.pos3{
    grid-area: pos3;
}
.gameListText{
    padding: 20px;
    cursor: pointer; 
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: normal;
    font-size: 40px; 
} 
.gameListTextHome{
    padding: 20px;
    cursor: pointer; 
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-weight: normal;
    font-size: 40px; 
    position: relative; 
    top: 20px; 
}
.gameListGame{
    padding: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: normal;
    font-size: 30px; 
}
.hiddenMenu{
    text-align: start;
    flex-direction: column;
    display: none;
    height: 450px; 
    overflow-x: hidden;
    overflow-y: scroll; 
    border-bottom: 1px solid lightgray;
    -ms-overflow-style: none;  /* IE and Edge stops scroll bar*/
    scrollbar-width: none;  /* Firefox stops scroll bar*/ 
    z-index: 2;
}
.listPic{
    height: 50px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 10px;
} 
.listPicTrivia{
    height: 50px;
    width: 100px; 
    position: relative;
    top: 10px;
    left: 10px;
} 
.hiddenMenu::-webkit-scrollbar { /*hides the scroll bar on selected element.*/
    display: none;
}
details > summary{  /*gets rid of the details list arrow*/
    list-style: none;
}
details > summary::-webkit-details-marker { /*gets rid of the details list arrow*/
    display: none;
}
.navDetails{
    position: relative; 
    right: 37px;
} 
.gameItem{
    padding-left: 40px;
} 
.detailsArrow{
    height: 50px;
    width: 70px; 
    position: relative;
    left: 5px;
    top: 10px; 
}  
a{
    text-decoration: none;
}
.f5{
    background-color: transparent;
    text-align: center;
}
.footerText{
    color: var(--extra-primary);
}
.privacyText:hover{
    color: var(--primary-color)
}